body, nav, ul, li, a  {margin: 0; padding: 0;}

a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}

.toggleMenu {
    display:  none;
    /*background: #666;*/
    padding: 10px 15px;
    color: #fff;
}

.nav {
    list-style: none;
     *zoom: 1;
     background:#3C90B7;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
	}

.nav a {
    padding: 10px 15px;
    color:#FFF;
}
.nav a:hover {
    padding: 10px 15px;
	background-color:#FFF;
    color:#3C90B7;
}
.nav li {
    position: relative;
}


.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
@media (min-width: 769px)  {
.nav ul {
    list-style: none;
    /*width: 9em;*/

	}
.nav > li > ul {
	background:#C985F0;
	width:35em;
	
}
/**/
.nav > li {
    float: left;
    
}
.nav > li > .parent {
    /*background-image: url("images/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > .parent a.sub {
    float:left;
	width:9em;
	background:#000;
}
/***/
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    /*display: block;*/
    background: #ccc;
    position: relative;
	color:#3C90B7;
    z-index:100;
	float:left;
}
.nav li li li a {
    background:#249578;
    z-index:200;

}
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
		border-top: 1px solid #CCC;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }
	.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
	
	.nav li li a {
    display: block;
    background: #65b1d4;
    position: relative;
    z-index:100;
    border-top: 1px solid #CCC;
	
}

}