@media (min-width: 1200px) {

	/* Structure > 1200px */
	#wrapper 		{width:1170px;margin: 0 auto;}
	/*header 		{width:1130px; height:135px; float:left; padding: 20px 20px 20px 20px;}*/
	#mainmenu		{width:100%; float:left;}
	#main 			{width:1130px; float:left; padding: 20px 20px 20px 20px;}
	#content 		{width:100%; float:left; /*background:#E1FFD1;*/}
	#sidebar 		{width:420px; float:right;}
	footer			{width:1130px; float:left; padding: 30px 20px 10px 20px;}
	#mainmenu		{display:block;}
	/**/
	.wrapper 		{width:1170px; margin: 0 auto;}
 	.testa 		    {width:100%; margin:0; height:135px; float:left;
				    background:#FFF;
					background-image:url(../img/sfondo-testa.jpg);
					background-repeat:no-repeat;
					background-position:center;}
	nav           {width:100%; float:left; background-color:#3C90B7; border-bottom: 44px solid #FFF; box-shadow: 5px 5px 5px #dedede;}
	/* hp */
	.entry-content_hp1{ width:68%; height:200px; float:left; margin:1%; background:#EDCFFF;}
	.entry-content_hp2 { width:28%; height:200px; float:left; margin:1%; background:#CCC;}	
	.entry-content_hp2 a { margin:25px 25%; padding:2%; background:#3C90B7; color:#FFF; float:left}
	.entry-content_hp2 a:hover { margin:25px 25%; padding:2%; background:#5ca8cb; color:#FFF;}
	
	.entry-content_hp{ width:31.3%; height:100px; float:left; margin:1%; background:#EDCFFF;}

	
    /* login */
	.logo { width:500px;height:135px; float:left;}
	.login { background:#FFF; width:300px; padding:5px 10px; float:right;}
	div.log {width:100%; float:left; margin-bottom:1px; /*background-color:#9FF0A4;*/}
	div.log p a{ margin-right:2%; }
	div.log label{ width:32%; float:left; font-size:11px; /*padding:4px 1%;*/ background:#eee; }
	div.log input{ width:32%; float:left; font-size:11px; /*padding:5px 1%;*/ background:#FFF; border:1px solid #eee;}
	.login p{ font-size:12px; margin:3px;}
	.log div.btn{ width:27%; margin:0; float:right;}
	.log div.btn input{ width:100%; margin:0; font-size:11px; float:right;}
	.log div.btn input:hover{ width:100%; margin:0; font-size:11px; float:right;}
	
	/* asta */
	.asta{ width:50%; height:250px; float:left;}
	.asta .entry-content{ width:100%;  background:#FFF; float:left;}
	.asta .entry-content img{ float:left;}
	.asta .entry-content p{ float:right; /*background:#DDE982;*/ width:410px; font-size:14px;}
	.asta .entry-content p.allegati{ float:right; /*background:#DDE982;*/ width:410px; font-size:14px; border-bottom:2px solid #3C90B7;}
	.asta .entry-content p.allegati a{ text-decoration:none; color:#3C90B7; display:block; font-weight:bold;}
	.asta .entry-content p.allegati a:hover{ text-decoration:underline; color:#000; display:block; font-weight:bold;}
	
	/* lotto */
	.lotto{ width:100%; float:left; /*background:#FFFAC3;*/}
	.lotto p{ font-size:13px;} .lotto p.info{ font-size:12px;} 
	.lotto div.a1{ width:88px; height:75px; padding:5px 0; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a2{ width:90px; height:75px; padding:10px 5px 0 5px; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a3{ width:480px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	.lotto div.a4{ width:433px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	
	.lotto div.b1{ width:78px; height:35px; padding:5px; float:left; background:#EEE; text-align:center; margin:1px; }
	.lotto div.b2{ width:90px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b3{ width:480px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b4{ width:433px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	
	/* ordine * VENERDI */
	.ordine{ width:100%; float:left; background:#EEE; font-size:13px;}
	.ordine div.a1{ width:210px; /*padding:5px 0;*/ float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a2{ width:230px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a3{ width:220px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a4{ width:230px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a5{ width:220px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	
	.ordine div.b1{ width:210px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b2{ width:230px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b3{ width:220px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b4{ width:230px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b5{ width:220px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	
	p.desc-ordine{ width:100%; margin-top:20px; font-size:12px; float:left; border-top:1px solid #eee; padding-top:10px;}
	/* paginazione */
	.paginazione{ width:100%;  height:50px; float:left; margin-top:15px; background:#FFFAC3;}
	
	/* download */
	.download{ width:100%; float:left; margin:0 0}
	.download p{ font-size:13px;  margin:0; padding:0;} /*.lotto p.info{ font-size:11px; margin:0; padding:0;} */
	.download div.a1{ width:450px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a2{ width:300px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a3{ width:210px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a4{ width:120px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px; text-align:center;}
	
	.download div.b1{ width:450px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b2{ width:300px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b3{ width:210px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b4{ width:120px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px; text-align:center;}
	
	/* form */
	form label{ width:45%; float:left; font-size:14px; padding:4px; background:#eee; }
	form input{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	form div{ width:50%; background:#F8FDA8; margin-bottom:10px; float:left;}
	form div p{ font-size:11px; margin:0; float:left;}
    
	/*R*/form select{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.mes2{ width:100%; margin:10px 0; float:left; font-size:12px;}
	/*R*/form div.mes{ width:100%; background:#CCC; margin-bottom:10px; float:left;}
	/*R*/form div.mes label{ width:98%; font-size:14px; padding:4px 1%; background:#eee; margin-bottom:10px; }
	/*R*/form div.mes input{ width:50%; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.rice{ width:50%; height:45px; background:#E6FFFD; margin-bottom:10px; float:left;}
	/*R*/form div.data { width:50%; height:45px; background:#F8FFDF; margin-bottom:10px; float:left; }
	/*R*/form div.data label{ width:21%; font-size:14px; padding:4px; background:#eee; margin-bottom:10px; }
	/*R*/form div.data input{ width:25%; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}

	fieldset { display: block; margin: 2px; padding: 0.35em; border: 2px solid #eee;}
	fieldset p{ width:25%; float:left; background:#D8F7CA; margin-bottom:5px; font-size:14px;}
	fieldset input.radio{ width:5%; float:left; background:#D8F7CA}
	form div.btn { width:50%;  margin:10px 25%;}
	form div.btn input{ width:25%; margin:10px 12%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input.no{ width:25%; margin:10px 12%; background:#5ca8cb; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input:hover{ width:25%; margin:10px 12%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
	
	/*** Post POPUP *** 8 aprile */
	.testa-pop   {width:100%; margin:0; height:90px; float:left;
				   background:#FFF;
					background-image:url(../img/sfondo-testa.jpg);
					background-repeat:no-repeat;
					background-position:center;}
  article.pop{ width:100%; float:left;  font-size:14px;}
  h2.pop{ color:#FFF; background:#3c90b7; font-size:16px; font-weight:300; display:block; text-align:center;}
  .post-popup {/*width:100%;*/ padding: 5px 1% 5px 1%; float:right; background-color:#eee; margin-right:2px;}
  .post-popup1 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; margin:5px 0;}
  .post-popup2 {width:50%; /*height:320px;*/ padding: 5px 0 5px 0; float:left; text-align:center; background-color:#FFF; margin:5px 0;}
  .post-popup3 {width:31.3%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; }

  form div.btn-pop { width:100%; margin:10px auto;}
  form div.btn-pop input{ width:30%; margin:10px 33.3%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
  form div.btn-pop input:hover{ width:30%; margin:10px 33.3%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
}

@media (min-width: 768px) and (max-width: 1199px) {

	/* Structure 768 to 1000 */
	#wrapper 		{width: 748px;margin: 0 auto;}
	/*header 		   {width: 708px; height:135px; float:left;padding: 20px 20px 20px 20px;}*/
	#mainmenu		{width: 100%;float:left;}
	#main 			{width: 708px;float:left;padding: 20px 20px 20px 20px;}
	#content 		{width: 100%;float:left;}
	#sidebar 		{width: 210px;float:right;}
	footer			{width: 708px;float:left;padding: 30px 20px 10px 20px;}
	#mainmenu		{display:block;}
	/**/
	.wrapper 		{width:748px; margin: 0 auto;}
 	.testa 		    {width:100%; margin:0; height:135px; float:left;
					background:#FFF;
					background-image:url(../img/sfondo-testa.jpg);
					background-repeat:no-repeat;
					background-position:center;
					}
	/* login */
	.logo { width:200px;height:135px; float:left;}
	.login { background:#FFF; width:200px; padding:5px 10px; float:right;}
	div.log {width:100%; float:left; margin-bottom:1px; /*background-color:#9FF0A4*/}
	div.login p a{ margin-right:2%; }
	div.log label{ width:32%; float:left; font-size:11px; /*padding:4px 1%;*/ background:#eee; }
	div.log input{ width:32%; float:left; font-size:11px; /*padding:5px 1%;*/ background:#FFF; border:1px solid #eee;}
	.login p{ font-size:12px; margin:3px;}
	.log div.btn{ width:25%; margin:0; float:right;}
	.log div.btn input{ width:100%; margin:0; font-size:11px; float:right;}
	.log div.btn input:hover{ width:100%; margin:0; font-size:11px; float:right;}
	
	nav            {width:100%; float:left; background-color:#3C90B7; border-bottom: 44px solid #FFF; box-shadow: 5px 5px 5px #dedede;}

	/* asta */
	.asta{ width:100%; height:200px; float:left; }
	.asta .entry-content{ width:100%;  background:#FFF; float:left; border-bottom:2px solid #3C90B7;}
	.asta .entry-content img{ float:left;}
	.asta .entry-content p{ float:left; /*background:#DDE982;*/ width:250px; margin-left:15px; font-size:13px;}
	.asta .entry-content p.allegati{ float:right; /*background:#DDE982;*/ width:300px; font-size:14px; }
	.asta .entry-content p.allegati a{ text-decoration:none; color:#3C90B7; display:block; font-size:13px; line-height:25px; font-weight:bold;}
	.asta .entry-content p.allegati a:hover{ text-decoration:underline; color:#000; display:block; font-size:13px; line-height:25px; font-weight:bold;}
	
	/* lotto */
	.lotto{ width:100%; float:left; /*background:#FFFAC3;*/}
	.lotto p{ font-size:13px;} .lotto p.info{ font-size:12px;} 
	.lotto div.a1{ width:88px; height:75px; padding:5px 0; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a2{ width:90px; height:75px; padding:10px 5px 0 5px; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a3{ width:292px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	.lotto div.a4{ width:200px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	
	.lotto div.b1{ width:78px; height:35px; padding:5px; float:left; background:#EEE; text-align:center; margin:1px; }
	.lotto div.b2{ width:90px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b3{ width:292px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b4{ width:200px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	
	/* ordine * VENERDI */
	.ordine{ width:100%; float:left; background:#EEE; font-size:13px;}
	.ordine div.a1{ width:120px; /*padding:5px 0;*/ float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a2{ width:135px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a3{ width:145px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a4{ width:162px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a5{ width:125px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	
	.ordine div.b1{ width:120px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b2{ width:135px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b3{ width:145px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b4{ width:162px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b5{ width:125px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	
	p.desc-ordine{ width:100%; margin-top:20px; font-size:12px; float:left; border-top:1px solid #eee; padding-top:10px;}
	
	/* paginazione */
	.paginazione{ width:100%;  height:50px; float:left; margin-top:15px; background:#FFFAC3;}
	
	/* download */
	.download{ width:100%; float:left; margin:0 0;}
	.download p{ font-size:13px;  margin:0; padding:0;} /*.lotto p.info{ font-size:11px; margin:0; padding:0;} */
	.download div.a1{ width:280px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a2{ width:200px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a3{ width:100px; /*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a4{ width:80px; /*height:35px;*/ padding:5px; float:right; font-weight:bold; background:#eee; margin:1px; text-align:center;}
	
	.download div.b1{ width:280px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b2{ width:200px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b3{ width:100px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px;}
	.download div.b4{ width:80px; /*height:35px;*/ padding:10px 5px 0 5px; float:left; /*background:#eee;*/ border-top:1px solid #EEE; margin:1px; text-align:center;}
	
	/* registrazione */
	form label{ width:40%; float:left; font-size:14px; padding:4px; background:#eee; }
	form input{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	form div{ width:50%; background:#F8FDA8; margin-bottom:10px; float:left;}
	form div p{ font-size:11px; margin:0; float:left;}
	
	/*R*/form select{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.mes2{ width:100%; margin:10px 0; float:left; font-size:12px;}
	/*R*/form div.mes{ width:100%; background:#CCC; margin-bottom:10px; float:left;}
	/*R*/form div.mes label{ width:98%; font-size:14px; padding:4px 1%; background:#eee; margin-bottom:10px; }
	/*R*/form div.mes input{ width:50%; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.rice{ width:50%; height:45px; background:#E6FFFD; margin-bottom:10px; float:left;}
	/*R*/form div.data { width:50%; height:45px; background:#F8FFDF; margin-bottom:10px; float:left; }
	/*R*/form div.data label{ width:18%; font-size:14px; padding:4px; background:#eee; margin-bottom:10px; }
	/*R*/form div.data input{ width:25%; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	
	fieldset { display: block; margin: 2px; padding: 0.35em; border: 2px solid #eee;}
	fieldset p{ width:25%; float:left; background:#D8F7CA; margin-bottom:5px; font-size:14px;}
	fieldset input.radio{ width:5%; float:left; background:#D8F7CA}
	form div.btn { width:50%;  margin:10px 25%;}
	form div.btn input{ width:25%; margin:10px 12%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input.no{ width:25%; margin:10px 12%; background:#5ca8cb; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input:hover{ width:25%; margin:10px 12%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
	
		/*** Post POPUP *** 8 aprile */
  article.pop{ width:100%; float:left;  font-size:14px;}
  h2.pop{ color:#FFF; background:#3c90b7; font-size:16px; font-weight:300; display:block; text-align:center;}
  .post-popup {/*width:100%;*/ padding: 5px 1% 5px 1%; float:right; background-color:#eee; margin-right:2px;}
  .post-popup1 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; margin:5px 0;}
  .post-popup2 {width:50%; /*height:320px;*/ padding: 5px 0 5px 0; float:left; text-align:center; background-color:#FFF; margin:5px 0;}
  .post-popup3 {width:31.3%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; }

  form div.btn-pop { width:100%; margin:10px auto;}
  form div.btn-pop input{ width:30%; margin:10px 33.3%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
  form div.btn-pop input:hover{ width:30%; margin:10px 33.3%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
}

@media (min-width: 479px) and (max-width: 767px) {
/*@media (max-width: 767px) {*/

	/* Structure  < 767 */
	body{padding:10px;background:#EEE;}
	#wrapper 		{width:90%; margin: 0 auto;}
	/*header 		    {width:100%; height:135px; padding: 20px 0 20px 0px;}*/
	#mainmenu		{width:100%;float:left;}
	#main 			{width:100%;float:left;padding: 0 0 0 0;}
	#content 		{width:90%; padding:5%; float:left;}
	#sidebar 		{width:100%;float:right;padding: 20px 0 0 0px;}
	footer			{width:100%;float:left;padding: 20px 0 0 0px;}
	/**/
	.wrapper 		{width:90%; margin: 0 auto;}
 	.testa 		    {width:100%; margin:0; height:135px; float:left;
					background:#FFF;
					background-image:url(../img/sfondo-testa.jpg);
					background-repeat:no-repeat;
					background-position:center;
					}
	
	 /* login */
	.logo { width:200px; height:135px; float:left;}
	.login { background:#FFFFFF;  width:200px; padding:5px 10px; float:right;}
	div.log {width:100%; float:left; margin-bottom:1px; /*background-color:#9FF0A4*/}
	div.login p a{ margin-right:2%; }
	div.log label{ width:32%; float:left; font-size:11px; /*padding:4px 1%;*/ background:#eee; }
	div.log input{ width:32%; float:left; font-size:11px; /*padding:5px 1%;*/ background:#FFF; border:1px solid #eee;}
	.login p{ font-size:12px; margin:3px;}
	.log div.btn{ width:25%; margin:0; float:right;}
	.log div.btn input{ width:100%; margin:0; font-size:11px; float:right;}
	.log div.btn input:hover{ width:100%; margin:0; font-size:11px; float:right;}
	
	nav            {width:100%; float:left; background-color:#3C90B7; box-shadow: 5px 5px 5px #dedede;}
	
	/* asta */
	.asta{ width:100%; height:200px; float:left; }
	.asta .entry-content{ width:100%;  background:#fff; float:left; border-bottom:2px solid #3C90B7;}
	.asta .entry-content img{ float:left;}
	.asta .entry-content p{ float:left;background:#eee; /*background:#DDE982;*/ width:70%; margin-left:15px; font-size:13px;}
	.asta .entry-content p.allegati{ float:left; /*background:#DDE982;*/ width:70%; font-size:14px; }
	.asta .entry-content p.allegati a{ text-decoration:none; color:#3C90B7; display:block; font-size:13px; line-height:20px; font-weight:bold;}
	.asta .entry-content p.allegati a:hover{ text-decoration:underline; color:#000; display:block; font-size:13px; line-height:20px; font-weight:bold;}
	
	/* lotto */
	.lotto{ width:100%; float:left; /*background:#FFFAC3;*/}
	.lotto p{ font-size:13px;} .lotto p.info{ font-size:11px;} 
	.lotto div.a1{ width:88px; height:75px; padding:5px 0; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a2{ width:90px; height:75px; padding:10px 5px 0 5px; float:left; background:#FFF; margin:1px; text-align:center; border-top:1px solid #EEE;}
	.lotto div.a3{ width:200px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	.lotto div.a4{ width:190px; height:75px; padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	
	.lotto div.b1{ width:78px; height:35px; padding:5px; float:left; background:#EEE; text-align:center; margin:1px; }
	.lotto div.b2{ width:90px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b3{ width:200px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b4{ width:190px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	
	/* ordine * VENERDI */
	.ordine{ width:100%; float:left; background:#EEE; font-size:13px;}
	.ordine div.a1{ width:60px; /*padding:5px 0;*/ float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a2{ width:115px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a3{ width:140px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a4{ width:150px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	.ordine div.a5{ width:100px; padding:5px 0; float:left; background:#FFF; margin:2px; text-align:center;}
	
	.ordine div.b1{ width:60px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b2{ width:115px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b3{ width:140px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b4{ width:150px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	.ordine div.b5{ width:100px; padding:5px 0; float:left; background:#eee; margin:2px; text-align:center; font-weight:bold;}
	
	p.desc-ordine{ width:100%; margin-top:20px; font-size:12px; float:left; border-top:1px solid #eee; padding-top:10px;}
	
	/* paginazione */
	.paginazione{ width:100%;  height:50px; float:left; margin-top:15px; background:#FFFAC3;}
	
	/* download */
	.download{ width:100%; float:left; margin:0; }
	.download p{ font-size:13px;  margin:0; padding:0;} /*.lotto p.info{ font-size:11px; margin:0; padding:0;} */
	.download div.a1{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a2{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a3{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a4{ width:77px; display:none;/*height:35px;*/ padding:5px; float:right; font-weight:bold; background:#eee; margin:1px; text-align:center;}
		
	.download div.b1{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px; font-weight:bold; border-top:3px solid #CCC;}
	.download div.b2{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px;}
	.download div.b3{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px;}
	.download div.b4{ width:100%; /*height:35px;*/ padding:15px 1% 15px 1%; float:right; background:#FFF; margin:1px; text-align:center; }
    .download div.b4 img{ width:70px; height:70px;}
	
	/* registrazione */
	form label{ width:40%; float:left; font-size:14px; padding:4px; background:#eee; }
	form input{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	form div{ width:100%; background:#F8FDA8; margin-bottom:10px; float:left;}
	form div p{ font-size:11px; margin:0; float:left;}
	
	/*R*/form div.mes select{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.mes2{ width:100%; margin:10px 0; float:left; font-size:13px;}
	/*R*/form div.mes{ width:100%; background:#CCC; margin-bottom:10px; float:left;}
	/*R*/form div.mes label{ width:98%; font-size:14px; padding:4px 1%; background:#eee; margin-bottom:10px; }
	/*R*/form div.mes input{ width:50%; font-size:13px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.rice{ width:50%; height:45px; background:#E6FFFD; margin-bottom:10px; float:left;}
	/*R*/form div.data { width:50%; height:45px; background:#F8FFDF; margin-bottom:10px; float:left; }
	/*R*/form div.rice label{font-size:13px; }
	/*R*/form div.rice input{font-size:13px; }
	/*R*/form div.data label{ width:18%; font-size:13px; padding:4px; background:#eee; margin-bottom:10px; }
	/*R*/form div.data input{ width:23%; font-size:13px; padding:5px; background:#FFF; border:1px solid #eee;}
	
	fieldset { display: block; margin: 2px; padding: 0.35em; border: 2px solid #eee;}
	fieldset p{ width:50%; float:left; background:#D8F7CA; margin-bottom:10px; font-size:14px;}
	fieldset input.radio{ width:8%; float:left; background:#D8F7CA}
	form div.btn { width:50%;  margin:10px 25%;}
	form div.btn input{ width:25%; margin:10px 12%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input.no{ width:25%; margin:10px 12%; background:#5ca8cb; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input:hover{ width:25%; margin:10px 12%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
	
	/* Header */
 	.search{display:none;}
	.btn-responsive-menu{display:block;}
	#mainmenu			{display:none;}
	#mainmenu ul li 	{float: none;}	
	
	/* Sidebar */
	.widget{width:48%;float:left;}
	.widget:first-child{margin-right:4%;!important}
	
	#site-title a {font-size:25px;margin-left:10px;}
	footer p     {margin-left:10px;}

	/*** Post POPUP *** 8 aprile */
  article.pop{ width:100%; float:left;  font-size:14px;}
  h2.pop{ color:#FFF; background:#3c90b7; font-size:16px; font-weight:300; display:block; text-align:center;}
  .post-popup {/*width:100%;*/ padding: 5px 1% 5px 1%; float:right; background-color:#eee; margin-right:2px;}
  .post-popup1 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; margin:5px 0;}
  .post-popup2 {width:50%; /*height:320px;*/ padding: 5px 0 5px 0; float:left; text-align:center; background-color:#FFF; margin:5px 0;}
  .post-popup2 img {width:80%; }
  .post-popup3 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; }

  form div.btn-pop { width:100%; margin:10px auto;}
  form div.btn-pop input{ width:30%; margin:10px 33.3%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
  form div.btn-pop input:hover{ width:30%; margin:10px 33.3%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
		
}

@media (max-width: 480px) {

	/* Structure  < 480 */
	
	#wrapper 		{width:90%;margin: 0 auto;}
	
	#mainmenu		{width:100%;float:left;}
	#main 			{width:100%;float:left; padding: 0 0 0 0;}
	#content 		{width:90%; padding:5%;float:left; background:#FFF}
	#sidebar 		{width:100%;float:right;padding: 20px 0 0 0px;}
	footer			{width:100%;float:left;padding: 20px 0 0 0px;}
	/**/
	.wrapper 		{width:320px; margin: 0 auto;}
 	.testa 		    {width:100%; margin:0; height:100px; float:left;
					background:#FFF;
					background-image:url(../img/sfondo-testa.jpg);
					background-repeat:no-repeat;
					background-position:center;
					}
		 /* login */
	.logo { width:150px;height:135px; float:left;}
	.login { background:#FFFFFF;  width:200px; padding:5px 10px; float:right;}
	div.log {width:100%; float:left; margin-bottom:1px; /*background-color:#9FF0A4*/}
	div.login p a{ margin-right:2%; }
	div.log label{ width:32%; float:left; font-size:11px; /*padding:4px 1%;*/ background:#eee; }
	div.log input{ width:32%; float:left; font-size:11px; /*padding:5px 1%;*/ background:#FFF; border:1px solid #eee;}
	.login p{ font-size:12px; margin:3px;}
	.log div.btn{ width:25%; margin:0; float:right;}
	.log div.btn input{ width:100%; margin:0; font-size:11px; float:right;}
	.log div.btn input:hover{ width:100%; margin:0; font-size:11px; float:right;}
	
	nav            {width:100%; float:left; background-color:#3C90B7; box-shadow: 5px 5px 5px #dedede;}
	
    /* asta */
	.asta{ width:100%; height:200px; float:left; }
	.asta .entry-content{ width:100%;  background:#fff; float:left; border-bottom:2px solid #3C90B7;}
	.asta .entry-content img{ float:left;}
	.asta .entry-content p{ float:left;background:#FCF9B8; /*background:#DDE982;*/ width:63%; margin-left:15px; font-size:13px;}
	.asta .entry-content p.allegati{ float:left; /*background:#DDE982;*/ width:63%; font-size:14px; }
	.asta .entry-content p.allegati a{ text-decoration:none; color:#3C90B7; display:block; font-size:13px; line-height:20px; font-weight:bold;}
	.asta .entry-content p.allegati a:hover{ text-decoration:underline; color:#000; display:block; font-size:13px; line-height:20px; font-weight:bold;}
	
	/* lotto */
	.lotto{ width:100%; float:left; /*background:#FFFAC3;*/}
	.lotto p{ font-size:13px;  margin:0; padding:0;} .lotto p.info{ font-size:11px; margin:0; padding:0;} 
	.lotto div.a1{ width:88px; height:90px; padding:5px 0; float:left; background:#FFF; margin:1px; text-align:center; border-top:4px solid #EEE;}
	.lotto div.a2{ width:90px; height:90px; padding:10px 5px 0 5px; float:left; background:#FFF; margin:1px; text-align:center; border-top:4px solid #EEE;}
	.lotto div.a3{ width:148px; height:90px; padding:5px; float:left; background:#FFF; margin:1px; border-top:4px solid #EEE;}
	.lotto div.a4{ width:340px; /*height:40px;*/ padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	
	.lotto div.b1{ width:78px; height:35px; padding:5px; float:left; background:#EEE; text-align:center; margin:1px; }
	.lotto div.b2{ width:90px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b3{ width:148px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;}
	.lotto div.b4{ /*width:190px; height:35px; padding:5px; float:left; background:#EEE; margin:1px;*/ display:none;}
	
	/* paginazione */
	.paginazione{ width:100%;  height:50px; float:left; margin-top:15px; background:#FFFAC3;}

/* ordine * VENERDI */
	.ordine{ width:100%; float:left; background:#EEE; font-size:13px; padding-bottom:5px; margin-bottom:5px;}
	.ordine div.a1{ width:20%; /*padding:5px 0;*/ float:left; background:#FFF; text-align:center;}
	.ordine div.a2{ width:20%; padding:5px 0; float:left; background:#FFF; text-align:center;}
	.ordine div.a3{ width:20%; padding:5px 0; float:left; background:#FFF; text-align:center;}
	.ordine div.a4{ width:20%; padding:5px 0; float:left; background:#FFF; text-align:center;}
	.ordine div.a5{ width:20%; padding:5px 0; float:left; background:#FFF; text-align:center;}
	
	.ordine div.b1{ width:20%; padding:5px 0; float:left; background:#eee; text-align:center; font-weight:bold; font-size:12px;}
	.ordine div.b2{ width:20%; padding:5px 0; float:left; background:#eee;  text-align:center; font-weight:bold;font-size:12px;}
	.ordine div.b3{ width:20%; padding:5px 0; float:left; background:#eee;  text-align:center; font-weight:bold; font-size:12px;}
	.ordine div.b4{ width:20%; padding:5px 0; float:left; background:#eee;  text-align:center; font-weight:bold; font-size:12px;}
	.ordine div.b5{ width:20%; padding:5px 0; float:left; background:#eee;  text-align:center; font-weight:bold; font-size:12px;}
	
	p.desc-ordine{ width:100%; margin-top:20px; font-size:12px; float:left; border-top:1px solid #eee; padding-top:10px;}
	
	
	/* download */
	.download{ width:100%; float:left; /*background:#FFFAC3;*/}
	/*.download p{ font-size:13px;  margin:0; padding:0;} .lotto p.info{ font-size:11px; margin:0; padding:0;} */
	.download div.a1{ width:88px; height:90px; padding:5px 0; float:left; background:#FFF; margin:1px; text-align:center; border-top:4px solid #EEE;}
	.download div.a2{ width:90px; height:90px; padding:10px 5px 0 5px; float:left; background:#FFF; margin:1px; text-align:center; border-top:4px solid #EEE;}
	.download div.a3{ width:148px; height:90px; padding:5px; float:left; background:#FFF; margin:1px; border-top:4px solid #EEE;}
	.download div.a4{ width:340px; /*height:40px;*/ padding:5px; float:left; background:#FFF; margin:1px; border-top:1px solid #EEE;}
	
	/* download */
	.download{ width:100%; float:left; margin:0; }
	.download p{ font-size:13px;  margin:0; padding:0;} /*.lotto p.info{ font-size:11px; margin:0; padding:0;} */
	.download div.a1{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a2{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a3{ width:100px; display:none;/*height:35px;*/ padding:5px; float:left; font-weight:bold; background:#eee; margin:1px;}
	.download div.a4{ width:77px; display:none;/*height:35px;*/ padding:5px; float:right; font-weight:bold; background:#eee; margin:1px; text-align:center;}
		
	.download div.b1{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px; font-weight:bold; border-top:3px solid #CCC;}
	.download div.b2{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px;}
	.download div.b3{ width:98%; /*height:35px;*/ padding:15px 1% 15px 1%; float:left; background:#eee; margin:1px;}
	.download div.b4{ width:100%; /*height:35px;*/ padding:15px 1% 15px 1%; float:right; background:#FFF; margin:1px; text-align:center; }
    .download div.b4 img{ width:70px; height:70px;}
	
	/* registrazione */
	form label{ width:40%; float:left; font-size:14px; padding:4px; background:#eee; }
	form input{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	form div{ width:100%; background:#F8FDA8; margin-bottom:10px; float:left;}
	form div p{ font-size:11px; margin:0; float:left;}
	
	/*R*/form div.mes select{ width:50%; float:left; font-size:14px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.mes2{ width:100%; margin:10px 0; float:left; font-size:12px;}
	/*R*/form div.mes{ width:100%; background:#CCC; margin-bottom:10px; float:left;}
	/*R*/form div.mes label{ width:98%; font-size:14px; padding:4px 1%; background:#eee; margin-bottom:10px; }
	/*R*/form div.mes input{ width:50%; font-size:13px; padding:5px; background:#FFF; border:1px solid #eee;}
	/*R*/form div.rice{ width:100%; /*height:50px;*/ background:#E6FFFD; margin-bottom:10px; float:left;}
	/*R*/form div.data { width:100%; /*height:50px;*/ background:#F8FFDF; margin-bottom:10px; float:left; }
	/*R*/form div.rice label{ width:25%; font-size:13px; }
	/*R*/form div.rice input{font-size:13px; }
	/*R*/form div.data label{ width:24%; font-size:13px; padding:5px; background:#eee; margin-bottom:10px; }
	/*R*/form div.data input{ width:20%; font-size:13px; padding:5px; background:#FFF; border:1px solid #eee;}
	
	fieldset { display: block; margin: 2px; padding: 0.35em; border: 2px solid #eee;}
	fieldset p{ width:100%; float:left; background:#D8F7CA; margin-bottom:10px; font-size:14px;}
	fieldset input.radio{ width:8%; float:left; background:#D8F7CA}
	form div.btn { width:100%;  margin:10px 0;}
	form div.btn input{ width:40%; margin:10px 5%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input.no{ width:40%; margin:10px 5%; background:#5ca8cb; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
	form div.btn input:hover{ width:40%; margin:10px 5%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}
	
	
	/* Header */
 	.search{display:none;}
	.btn-responsive-menu{display:block;}
	#mainmenu			{display:none;}
	#mainmenu ul li 	{float: none;}	
	
	/* Sidebar */
	.widget{width:48%;float:left;}
	.widget:first-child{margin-right:4%;!important}
	
	#site-title a {font-size:25px;margin-left:10px;}
	footer p     {margin-left:10px;}
	
	/*** Post POPUP *** 8 aprile */
   article.pop{ width:100%; float:left;  font-size:14px;}
   h2.pop{ color:#FFF; background:#3c90b7; font-size:16px; font-weight:300; display:block; text-align:center;}
  .post-popup {/*width:100%;*/ padding: 5px 1% 5px 1%; float:right; background-color:#eee; margin-right:2px;}
  .post-popup a { font-size:90%;}
  .post-popup1 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; margin:5px 0;}
  .post-popup2 {width:100%; /*height:320px;*/ padding: 5px 0 5px 0; float:left; text-align:center; background-color:#FFF; margin:5px 0;}
  .post-popup2 img {width:80%; }
  .post-popup3 {width:98%; padding: 5px 1% 5px 1%; float:left; background-color:#eee; }

  form div.btn-pop { width:100%; margin:10px auto;}
  form div.btn-pop input{ width:30%; margin:10px 33.3%; background:#3C90B7; color:#FFF; box-shadow: 5px 5px 5px #dedede;}
  form div.btn-pop input:hover{ width:30%; margin:10px 33.3%; background:#eee; color:#666; box-shadow: 5px 5px 5px #dedede;}

		
}


